@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-image: url(images/image2.png);
  background-size: cover;
  height: 85vh;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 4%;
  background-color:rgba(0, 0, 0, 0.5);
  height: 75px;
  font-size: 22px;
  font-weight: 600;
}

.logo {
  display: flex;
  align-items: center;
  justify-content:space-between;
  cursor: pointer;
}
.logo h3 {
  color: #F19201;
  padding-left: 10px;
}

.logo img {
  /* padding: 10px; */
  border: 2px solid white;
  
}

nav ul li {
  display: inline-block;
  padding-left: 75px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #F19201;
}

nav ul li a:active {
  color: #F19201;
}

#cta_1 {
  color: white;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 30px 10px 30px;
  background-color: #f19201;
  border: none;
  cursor: pointer;
}

.hero {
  color: white;
  padding-left: 4%;
  
}

.hero h3 {
  font-size: 60px;
  padding: 10% 0 7% 0;
}

#cta_2 {
  color: white;
  font-size: 22px;
  font-weight: 600;
  padding: 20px 65px 20px 65px;
  background-color: #f19201;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

/*Services section styling*/
#services {
  background-color: rgb(220, 220, 220);
  text-align: center;
  padding: 50px 0 50px 0;
}

#services h4 {
  color: #F19201;
  font-size: 40px;
  font-weight: 500;
}

#services > p {
  font-style: italic;
  font-size: 24px;
  padding: 40px 0;
}

.services {
  display: flex;
  justify-content: center;
}

.activities {
  height: 400px;
  width: 450px;
  background-color: #fff;
  margin: 25px;
  padding: 20px 20px 80px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: #F19201;
  border-radius: 50%;
}

.circle h5 {
  color: white;
  font-size: 40px;
  font-weight: 600;
  line-height: 100px;
}

.activities h6 {
  font-size: 28px;
  font-weight: 500;
}

.activities p {
  font-size: 27px;
  font-style: italic;
}

#reviews {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

#reviews_image {
  width: 48.5vw;
  height: 45vw;
  background-image: url("images/image1.png");
  background-size: cover;
}

#reviews_text {
  width: 51.5vw;
  height: 45vw;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#reviews_text h4 {
  font-size: 60px;
  font-weight: 400;
  position: relative;
  padding-bottom: 15px;
}

#reviews_text hr {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  background-color: #fff;
}

#reviews_text h5 {
  font-size: 30px;
  font-weight: 400;
}

#reviews_text p {
  font-size: 20px;
  font-style: italic;
}

#reviews_text h6 {
  font-size: 20px;
  font-weight: 500;
}